<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Encryption app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="fontello.css">
        <link rel="stylesheet" href="main.css">
        <script src="modal.js"></script>
        

    </head>
    <body>
        <div class="container p-4">
          
                {{{body}}} <!-- Esto es lo que va a cambiar entre páginas -->
          
        </div>
    </body>
</html>